/* ===== Background Section ===== */
.login-page {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Background Image + Blur */
.bg-image {
    background-size: cover;
  background-position: center;
  position: absolute;
  inset: 0;
  filter: blur(5px) brightness(55%);
  transform: scale(1.1); /* prevents blur edges */
  z-index: 1;
}

/* Dark overlay for cinematic effect */
/* .login-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
} */

/* ===== Form Section ===== */
.login-form {
  position: relative;
  z-index: 3;
  width: 480px;
  background: rgba(0, 0, 0, 0.75);
  padding: 60px 68px 40px;
  border-radius: 8px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 18px;
  color: #fff;
}

/* Heading */
.login-form h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;

}

/* Input fields */
.login-form input {
    margin-bottom: 20px;
  width: 100%;
  padding: 14px 15px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #333;
  color: white;
  font-size: 15px;
  transition: background 0.3s;
}

.login-form input:focus {
  background: #444;
}

/* Button */
.login-form button {
  width: 100%;
  background-color: #e50914;
  border: none;
  color: white;
  padding: 14px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 10px;
}

.login-form button:hover {
  background-color: #f6121d;
}

/* Options row */
.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #b3b3b3;
  margin-top: 8px;
}

.form-options label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

/* Signup text */
.signup-text {
  font-size: 15px;
  color: #b3b3b3;
  margin-top: 30px;
  text-align: center;
}

.signup-text span {
    color: white;
    cursor: pointer;
}

.signup-text span:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 480px) {
  .login-form {
    width: 90%;
    padding: 40px 25px;
  }
}

.loading_spinner{
  width: 100%;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loading_spinner img{
  width: 60px;
}