.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 85vh;
  object-fit: cover;
  mask-image: linear-gradient(to right, transparent, black 75%);
  -weblit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.hero-caption {
  position: absolute;
  width: 100%;
  padding-left: 6%;
  bottom: 60px;
  color: #fff;
  z-index: 2;
}

.hero-caption h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 1.1;
}

.hero-caption p {
  max-width: 700px;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 25px;
  color: #e0e0e0;
}

.hero-btns {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.hero-btns .btn {
  border: 0;
  outline: 0;
  padding: 10px 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hero-btns .btn img {
  width: 24px;
}

.hero-btns .btn.dark-btn {
  color: #fff;
  background: #6d6d6eb3;
}

.hero-btns .btn:hover {
  background-color: #ffffffbf;
  /* transform: scale(1.03); */
}

.hero-btns .btn.dark-btn:hover {
  background: #6d6d6e66;
}

/* ---------- Tablets ---------- */
@media (max-width: 1024px) {
  .hero-caption {
    bottom: 40px;
    padding-left: 5%;
  }

  .hero-caption h1 {
    font-size: 2.3rem;
  }

  .hero-caption p {
    font-size: 1rem;
    max-width: 600px;
  }

  .hero-btns {
    margin-bottom: 35px;
    gap: 10px;
  }

  .hero-btns .btn {
    padding: 8px 20px;
    font-size: 15px;
  }

  /* .title-cards {
    display: none;
  } */
}

/* ---------- Mobile ---------- */
@media (max-width: 768px) {
  .banner-img {
    height: 70vh;
    mask-image: linear-gradient(to bottom, transparent, black 90%);
  }

  .hero-caption {
    bottom: 30px;
    padding-left: 4%;
  }

  .hero-caption h1 {
    font-size: 1.8rem;
  }

  .hero-caption p {
    font-size: 0.9rem;
    max-width: 90%;
  }

  .hero-btns {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-btns .btn {
    width: fit-content;
    padding: 8px 18px;
    font-size: 14px;
  }
}
